.fs-7{
    font-size: 14px;
}

.fs-8{
    font-size: 12px;
}

:root{
    --clr-pink-1: #FEEFE0;
    --clr-pink-2: #FDE2CD;
    --clr-gray-1: #6f6f6f; 
    --clr-orange: #E93F15;

    --inter-font: 'Inter', sans-serif;
}